PUBLIC_SITE_NAME="FotoLife"
PUBLIC_SITE_DESCRIPTION="A rede mais fácil do mundo"
PUBLIC_GOOGLE_CLIENT_ID="SEU_CLIENT_ID.apps.googleusercontent.com"

# Oracle Autonomous Database
ORACLE_USER="MURMDB"
ORACLE_PASSWORD="COLOQUE_A_SENHA_AQUI"
ORACLE_CONNECT_STRING="siteverso_low"
ORACLE_WALLET_DIR="/home/daniel/.oracle/Wallet_siteverso"
ORACLE_POOL_MIN="0"
ORACLE_POOL_MAX="4"
ORACLE_POOL_INCREMENT="1"
ORACLE_QUEUE_TIMEOUT_MS="10000"

# Sessão própria do FotoLife
SESSION_COOKIE_NAME="fotolife_session"
SESSION_DAYS="30"

# Somente desenvolvimento. Em produção mantenha false até integrar e-mail.
ALLOW_LOCAL_PASSWORD_RESET="false"


# Limite de publicação de fotos
# Exemplos:
# 10 fotos por 1 dia:     10 / DAY / 1
# 10 fotos por 2 dias:    10 / DAY / 2
# 100 fotos por 3 minutos: 100 / MINUTE / 3
PHOTO_POST_LIMIT="10"
PHOTO_POST_PERIOD_TYPE="DAY"
PHOTO_POST_PERIOD_AMOUNT="1"

# Limite de caracteres para legendas, comentários e textos do usuário
PUBLIC_MESSAGE_MAX_LENGTH="256"
